<div class="container">
    <div class="row justify-content-center" >
        <div class="text-center mb-5">
            <h1 class="text-white font-weight-bold">HOME PAGE</h1>
        </div>
    </div>
    <div class="row justify-content-center" >
        <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
        <h2 class="mb-4 text-center text-white font-weight-bold">Welcome!</h2>
        <p class="font-weight-bold">This is a space for a Tech Blog</p>
        <div class="form-group">
            <button type="submit" class="form-control btn btn-primary submit px-3">
            <a href="/login" class="text-dark">Get Started</a>
            </button>
        </div>
        </div>
        </div>
    </div>
   
</div>