<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Create an account.</h3>
            <form action="#" class="signin-form">
                <div class="form-group">
                    <input type="text" class="form-control font-weight-bold" placeholder="Name" required
                        id="name-signup">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control font-weight-bold" placeholder="Email" required
                        id="email-signup">
                </div>
                <div class="form-group">
                    <input id="password-field" type="password" class="form-control font-weight-bold"
                        placeholder="Password" required>
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                </div>
                <p class="font-weight-bold">Already have an account? <a href="/login" class="text-light">Login here.</a>
                </p>
            </form>
        </div>
    </div>
</div>

<script src="/js/signup.js"></script>